body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 60px;
}

@media (max-width: 768px) {
    body {
        padding: 20px;
    }
}

ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: white;
    position: relative;
}

.logo img {
    width: 50px;
    height: auto;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu li {
    display: inline-block;
}

.menu a {
    font-size: 18px;
    font-weight: 500;
    color: black;
    transition: color 0.3s;
}

.menu a:hover {
    color: #007bff;
}

.hamburger {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: white;
        width: 200px;
        padding: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        display: none;
    }

    .menu.show {
        display: flex;
    }

    .hamburger {
        display: block;
        padding-left: 200px;
    }
}

.main-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.main-hero h1 {
    font-size: 45px;
    font-weight: 600;
    line-height: 1.5;
    max-width: 600px;
    color: black;
    font-weight: bold;
}

h1 .span1 {
    color: #06C76A;
}

h1 .span2 {
    color: #FF6F27;
}

.main-hero img {
    max-width: 600px;
    height: auto;
}

@media (max-width: 768px) {
    .main-hero {
        flex-direction: column;
        text-align: center;
    }

    .main-hero img {
        max-width: 300px;
    }
    

    .main-hero div:first-child {
        order: 2;
    }

    .main-hero div:last-child {
        order: 1;
    }

    .main-hero img {
        margin-bottom: 20px;
    }

    .main-hero h1 {
        font-size: 30px;
    }
}

.main-content {
    display: flex;
    gap: 20px;
}

.left-section {
    flex: 1;
}

.tabs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.aside-container img {
    height: auto;
    width: 300px;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    border-radius: 40px;
}

.aside-container p {
    padding: 0 20px;
    text-align: justify;
}

.tab-button {
    font-size: 16px;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab-content {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.right-section {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow-y: auto;
    max-height: 400px;
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    .right-section {
        margin-top: 20px;
    }
}

.main-container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-top: 100px;
}

.content-container {
    flex: 1;
    max-width: 90%;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.content-display {
    margin-top: 20px;
}

.content-text {
    display: none;
    font-size: 18px;
    font-weight: 400;
    padding: 40px;
}

.content-text.active {
    display: block;
}

.content-text h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
    text-align: center;
}

.content-text h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
    text-align: left;
}

.content-text ul li {
    padding-left: 20px;
    list-style-type: disc;
    margin-top: 10px;
}

.aside-container {
    flex: 0.4;
    max-width: 500px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.aside-container h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.tabs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tab-button {
    padding: 10px 20px;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.tab-button.active {
    color: black;
    background-color: #e0e0e0;
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    .content-text {
        padding: 10px;
    }

    .content-text ul {
        padding-left: 20px;
    }
    

    .aside-container {
        margin-top: 20px;
    }
}

.article-content {
    padding: 200px 0 100px 0;
    text-align: center;
}

.article-content h1 {
    font-size: 30px;
}

.article-content span {
    color: #06C76A;
}

.article-content p {
    font-size: 30px;
}

@media (max-width: 768px) { 
    .article-content {
        padding: 100px 0 100px 0;
        text-align: center;
    }

    .article-content p {
        font-size: 20px;
    }
}

.footer {
    background-color: #f4f4f4;
    color: black;
    padding: 40px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 150px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-menu-wrapper {
    margin-bottom: 20px;
}

.footer-menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.footer-menu li a {
    text-decoration: none;
    color: #06C76A;
    font-weight: 500;
    transition: color 0.3s;
}

.footer-menu li a:hover {
    color: #004d40;
}

.footer-text {
    font-size: 14px;
    color: black;
}

@media (max-width: 768px) {
    .footer-menu {
        flex-direction: column;
        gap: 10px;
    }
}
