body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 60px;
}


@media (max-width: 768px) {
    body {
        padding: 20px;
    }
}

ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: white;
    position: relative;
}

.logo img {
    width: 50px;
    height: auto;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu li {
    display: inline-block;
}

.menu a {
    font-size: 18px;
    font-weight: 500;
    color: black;
    transition: color 0.3s;
}

.menu a:hover {
    color: #007bff;
}

.hamburger {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}


@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: white;
        width: 200px;
        padding: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        display: none; 
        
    }

    .menu.show {
        display: flex;
    }

    .hamburger {
        display: block;
        padding-left: 200px;
    }
}


/* hero-main */

.main-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-top: 30px;
}

.main-hero h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
    max-width: 600px;
    color: #333;
}

.main-hero img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
    .main-hero {
        flex-direction: column; 
        text-align: center; 
    }

    .main-hero div:first-child {
        order: 2; 
    }

    .main-hero div:last-child {
        order: 1; 
    }

    .main-hero img {
        margin-bottom: 20px; 
    }

    .main-hero h1 {
        font-size: 20px; 
    }
}

/* main-content */

.main-content {
    display: flex;
    gap: 20px;
}

.left-section {
    flex: 1;
}

.tabs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.aside-container img {
    height: auto;
    width: 300px;
    display: block; 
    margin: 0 auto;
    padding-top: 20px;
}

.aside-container p {
    padding: 0 20px 0 20px;
}

.tab-button {
    font-size: 16px;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab-content {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}


.right-section {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow-y: auto;
    max-height: 400px; 
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    .right-section {
        margin-top: 20px;
    }
}

.main-container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-top: 100px;
}

.content-container {
    flex: 1;
    max-width: 90%;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.content-display {
    margin-top: 20px;
}

.content-text {
    display: none;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    transition: opacity 0.3s;
}

.content-text.active {
    display: block;
}

.aside-container {
    flex: 0.4;
    max-width: 500px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.aside-container h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.tabs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tab-button {
    padding: 10px 20px;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.tab-button.active {
    color: black;
}



@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    .aside-container {
        margin-top: 20px;
    }
}